---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [31]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [32]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [33]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    import numpy as np
    import pandas as pd
    temp = (pd.read_table('university_towns.txt', header=None).rename(columns={0: 'States'}))
    #return temp
    university_towns = pd.DataFrame(columns=['State','RegionName'])
    for states1 in temp['States']:
        if '[edit]' in states1:
            st = states1.split('[')[0]
            continue
        temp1 = pd.DataFrame([[st, states1.split(' (')[0]]],columns=["State","RegionName"])       
        university_towns = university_towns.append(temp1, ignore_index=True)
    return university_towns
get_list_of_university_towns()

             State                    RegionName
0          Alabama                        Auburn
1          Alabama                      Florence
2          Alabama                  Jacksonville
3          Alabama                    Livingston
4          Alabama                    Montevallo
5          Alabama                          Troy
6          Alabama                    Tuscaloosa
7          Alabama                      Tuskegee
8           Alaska                     Fairbanks
9          Arizona                     Flagstaff
10         Arizona                         Tempe
11         Arizona                        Tucson
12        Arkansas                   Arkadelphia
13        Arkansas                        Conway
14        Arkansas                  Fayetteville
15        Arkansas                     Jonesboro
16        Arkansas                      Magnolia
17        Arkansas                    Monticello
18        Arkansas                  Russellville
19        Arkansas                        Searcy
20      California                        Angwin
21      California                        Arcata
22      California                      Berkeley
23      California                         Chico
24      California                     Claremont
25      California                        Cotati
26      California                         Davis
27      California                        Irvine
28      California                    Isla Vista
29      California  University Park, Los Angeles
..             ...                           ...
487       Virginia                          Wise
488       Virginia                    Chesapeake
489     Washington                    Bellingham
490     Washington                        Cheney
491     Washington                    Ellensburg
492     Washington                       Pullman
493     Washington  University District, Seattle
494  West Virginia                        Athens
495  West Virginia                    Buckhannon
496  West Virginia                      Fairmont
497  West Virginia                     Glenville
498  West Virginia                    Huntington
499  West Virginia                    Montgomery
500  West Virginia                    Morgantown
501  West Virginia                 Shepherdstown
502  West Virginia                  West Liberty
503      Wisconsin                      Appleton
504      Wisconsin                    Eau Claire
505      Wisconsin                     Green Bay
506      Wisconsin                     La Crosse
507      Wisconsin                       Madison
508      Wisconsin                     Menomonie
509      Wisconsin                     Milwaukee
510      Wisconsin                       Oshkosh
511      Wisconsin                   Platteville
512      Wisconsin                   River Falls
513      Wisconsin                 Stevens Point
514      Wisconsin                      Waukesha
515      Wisconsin                    Whitewater
516        Wyoming                       Laramie

[517 rows x 2 columns]

In [34]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    import numpy as np
    import pandas as pd
    temp = pd.read_excel('gdplev.xls', skiprows = 7)
    temp = pd.DataFrame(temp[['Unnamed: 4','Unnamed: 5']]).rename(columns ={'Unnamed: 4': 'YearQtr', 'Unnamed: 5': 'GDP'})    
    temp = temp[temp['YearQtr'].apply(lambda x: int(x.split('q')[0])) >= 2000].reset_index()[['YearQtr', 'GDP']]    
    for i in range(len(temp)-2):
        if ((temp.iloc[i+1]['GDP'] < temp.iloc[i]['GDP']) & (temp.iloc[i+2]['GDP'] < temp.iloc[i+1]['GDP'])):
            recession_start = temp.iloc[i]['YearQtr']
            break
    return recession_start
get_recession_start()

'2008q3'

In [35]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    import numpy as np
    import pandas as pd
    temp = pd.read_excel('gdplev.xls', skiprows = 7)
    temp = pd.DataFrame(temp[['Unnamed: 4','Unnamed: 5']]).rename(columns ={'Unnamed: 4': 'YearQtr', 'Unnamed: 5': 'GDP'}) 
    temp['YQ'] = temp['YearQtr'].apply(lambda x: x.split('q')[0]) + temp['YearQtr'].apply(lambda x: x.split('q')[1])
    temp['YQ'] = temp['YQ'].apply(lambda x: int(x))
    recession_start = int(get_recession_start().split('q')[0]+get_recession_start().split('q')[1])
    temp = temp[temp['YQ'] > recession_start]
    #temp = temp[temp['YearQtr'].apply(lambda x: int(x.split('q')[0])) >= int(get_recession_start()[0].split('q')[0])].reset_index()[['YearQtr', 'GDP']]     
    for i in range(2,len(temp)):
        if ((temp.iloc[i-1]['GDP'] < temp.iloc[i]['GDP']) & (temp.iloc[i-2]['GDP'] < temp.iloc[i-1]['GDP'])):
            recession_end=(temp.iloc[i]['YearQtr'])
            break
    return recession_end
get_recession_end()

'2009q4'

In [36]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    import numpy as np
    import pandas as pd
    temp = pd.read_excel('gdplev.xls', skiprows = 7)
    temp = pd.DataFrame(temp[['Unnamed: 4','Unnamed: 5']]).rename(columns ={'Unnamed: 4': 'YearQtr', 'Unnamed: 5': 'GDP'}) 
    temp['YQ'] = temp['YearQtr'].apply(lambda x: x.split('q')[0]) + temp['YearQtr'].apply(lambda x: x.split('q')[1])
    temp['YQ'] = temp['YQ'].apply(lambda x: int(x))
    recession_start = int(get_recession_start().split('q')[0]+get_recession_start().split('q')[1])
    recession_end = int(get_recession_end().split('q')[0]+get_recession_end().split('q')[1])
    temp = temp[(temp['YQ']>recession_start) & (temp['YQ']<recession_end)].set_index('YearQtr')
    return np.argmin(temp['GDP'])
get_recession_bottom()

'2009q2'

In [37]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    import numpy as np
    import pandas as pd
    temp = pd.read_csv('City_Zhvi_AllHomes.csv')
    temp = temp.fillna(0)
    temp['State'] = temp['State'].apply(lambda x: states[x])
    temp = temp.reset_index().set_index(['State','RegionName'])
    housing_data = pd.DataFrame()
    for i in range(2000,2016):
        housing_data[(str(i)+'q1')] = temp[str(i)+'-'+'01'] + temp[str(i)+'-'+'02'] + temp[str(i)+'-'+'03']
        housing_data[(str(i)+'q2')] = temp[str(i)+'-'+'04'] + temp[str(i)+'-'+'05'] + temp[str(i)+'-'+'06']
        housing_data[(str(i)+'q3')] = temp[str(i)+'-'+'07'] + temp[str(i)+'-'+'08'] + temp[str(i)+'-'+'09']
        housing_data[(str(i)+'q4')] = temp[str(i)+'-'+'10'] + temp[str(i)+'-'+'11'] + temp[str(i)+'-'+'12']
    i = 2016
    housing_data[(str(i)+'q1')] = temp[str(i)+'-'+'01'] + temp[str(i)+'-'+'02'] + temp[str(i)+'-'+'03']
    housing_data[(str(i)+'q2')] = temp[str(i)+'-'+'04'] + temp[str(i)+'-'+'05'] + temp[str(i)+'-'+'06']
    housing_data[(str(i)+'q3')] = temp[str(i)+'-'+'07'] + temp[str(i)+'-'+'08']
    return housing_data    
convert_housing_data_to_quarters()

,,2000q1,2000q2,2000q3,2000q4,2001q1,2001q2,2001q3,2001q4,2002q1,2002q2,...,2014q2,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3
State,RegionName,,,,,,,,,,,,,,,,,,,,,
New York,New York,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1546400,1568400,1584200,1596800,1622400,1671600,1718500,1748600,1774900,1174400
California,Los Angeles,621200.0,643400.0,662900.0,678500.0,699000.0,717300.0,735200.0,759100.0,785900.0,818100.0,...,1494100,1527200,1556600,1586400,1614500,1641800,1673200,1698100,1732400,1168100
Illinois,Chicago,415200.0,430900.0,443600.0,456400.0,470800.0,485400.0,499200.0,511300.0,526500.0,532700.0,...,577900,587300,603800,603200,618100,624900,623700,618200,624600,424000
Pennsylvania,Philadelphia,159000.0,160900.0,162400.0,164100.0,166000.0,166600.0,168800.0,172600.0,177400.0,182200.0,...,341200,345900,347000,348600,353900,363700,366600,370300,380800,257400
Arizona,Phoenix,335500.0,343100.0,348000.0,352200.0,358800.0,364700.0,368100.0,372900.0,379600.0,385100.0,...,492800,496100,505500,514600,522500,537200,551500,563700,574300,390400
Nevada,Las Vegas,397800.0,403100.0,406200.0,411000.0,418600.0,425200.0,430100.0,438400.0,448000.0,452800.0,...,510200,520200,526400,532500,544800,560300,571900,583800,591600,399900
California,San Diego,668700.0,703100.0,736300.0,768100.0,801600.0,828800.0,853500.0,875800.0,903700.0,938600.0,...,1440600,1467100,1489300,1510100,1536200,1559300,1576400,1588000,1608700,1079500
Texas,Dallas,253400.0,251600.0,254600.0,263500.0,269200.0,267900.0,267200.0,272700.0,277700.0,281400.0,...,319900,326700,334600,341100,363400,385700,403800,421500,433800,298600
California,San Jose,1122800.0,1219700.0,1295600.0,1366500.0,1412000.0,1410600.0,1370400.0,1336700.0,1324300.0,1373300.0,...,2038200,2091100,2144800,2194300,2270200,2329200,2367400,2410800,2456800,1644400
Florida,Jacksonville,265800.0,269100.0,275100.0,279300.0,283200.0,286800.0,291200.0,297200.0,303700.0,310300.0,...,362300,365200,369500,372500,380700,390400,396000,401900,411600,279800
California,San Francisco,1291500.0,1393400.0,1450600.0,1479000.0,1482200.0,1488400.0,1512300.0,1540200.0,1561300.0,1614500.0,...,2780800,2863600,2906300,3002200,3182400,3285300,3316400,3365300,3357800,2212800
Texas,Austin,428900.0,435800.0,448400.0,467200.0,483700.0,482200.0,478600.0,480100.0,476900.0,472500.0,...,746600,758400,774400,799500,825100,844900,861700,880500,904300,608900
Michigan,Detroit,198500.0,204900.0,200300.0,201100.0,202500.0,205100.0,207800.0,209900.0,213000.0,217000.0,...,111900,111300,111400,108600,107500,111200,115100,113900,112400,75800
Ohio,Columbus,283100.0,287500.0,291400.0,294800.0,298200.0,300800.0,303200.0,306600.0,310200.0,314400.0,...,309400,313500,319300,323600,328300,334700,345000,350100,354600,240200
Tennessee,Memphis,217500.0,219600.0,221600.0,222000.0,222500.0,224800.0,226500.0,228200.0,229000.0,230300.0,...,204300,207300,213500,211600,206100,206000,208600,212700,222500,151800
North Carolina,Charlotte,380800.0,385100.0,390600.0,394700.0,398800.0,399600.0,398400.0,399300.0,403100.0,406100.0,...,448400,451900,458200,465500,473700,480500,488600,499400,508300,344800
Texas,El Paso,228800.0,230600.0,230200.0,231900.0,234700.0,234900.0,232300.0,230400.0,229800.0,229200.0,...,335400,335200,335300,334500,333900,333200,330800,332000,334400,224400
Massachusetts,Boston,620800.0,657500.0,699300.0,727500.0,748800.0,771200.0,800800.0,824900.0,847500.0,867900.0,...,1280000,1294300,1322200,1345500,1366100,1391900,1414900,1447800,1471100,1003400
Washington,Seattle,745800.0,766800.0,787600.0,802200.0,813000.0,817300.0,822500.0,834500.0,841500.0,853800.0,...,1325400,1354500,1377500,1403800,1480100,1542800,1600400,1655200,1726600,1179400
Maryland,Baltimore,179000.0,178500.0,176500.0,178500.0,178700.0,180400.0,186300.0,190200.0,191000.0,194700.0,...,327700,328600,322100,324200,334300,341900,341700,344000,344200,230300
Colorado,Denver,486700.0,503500.0,523000.0,541000.0,559500.0,577600.0,589200.0,597300.0,603700.0,607300.0,...,812600,832500,861700,892900,931100,961500,990300,1006700,1028300,703100
District of Columbia,Washington,413300.0,432600.0,446100.0,443100.0,449300.0,465400.0,493900.0,517600.0,541500.0,579900.0,...,1340800,1359000,1380900,1398500,1443200,1480200,1502700,1512300,1517400,1032500
Tennessee,Nashville,341500.0,345800.0,347600.0,350800.0,354100.0,357500.0,360300.0,362400.0,364700.0,367900.0,...,482100,486900,500700,514400,528800,545400,567600,585200,601100,412200
Wisconsin,Milwaukee,234100.0,237200.0,243100.0,247000.0,252100.0,256700.0,261200.0,265200.0,268600.0,274100.0,...,276500,276500,275900,280000,282300,282400,283700,284000,289100,197700
Arizona,Tucson,305500.0,308900.0,313400.0,317000.0,321600.0,326300.0,331700.0,338400.0,345000.0,351600.0,...,427400,430300,432700,432500,435400,439800,444500,448600,453500,305400
Oregon,Portland,458400.0,464300.0,469700.0,472400.0,479700.0,485400.0,492800.0,503300.0,512300.0,522400.0,...,846700,861800,886600,905800,935700,977200,1029200,1068000,1109400,774100
Oklahoma,Oklahoma City,229300.0,232500.0,235700.0,237500.0,239500.0,241200.0,243400.0,245200.0,247800.0,250300.0,...,354100,356900,360300,362400,367100,374100,381300,383700,387900,260600
Nebraska,Omaha,338400.0,342300.0,350200.0,356700.0,362600.0,359300.0,353600.0,352200.0,354200.0,352900.0,...,390300,390900,397500,399200,403400,410200,420200,424900,428000,286900
New Mexico,Albuquerque,377600.0,380100.0,379300.0,380200.0,381300.0,383200.0,385700.0,389700.0,393200.0,396300.0,...,489800,492000,494400,495500,497700,499600,502000,507300,511900,343800
California,Fresno,282300.0,285800.0,289400.0,294700.0,301700.0,310700.0,321700.0,330900.0,342100.0,355600.0,...,508900,520800,534400,541400,546100,557100,562400,567100,578200,392900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Texas,Granite Shoals,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,350900,352600,352600,351500,357300,364800,384000,401300,420200,292900
Maryland,Piney Point,467000.0,465500.0,475400.0,491100.0,490200.0,494500.0,494100.0,503700.0,534800.0,543600.0,...,889200,927000,927700,928700,905100,915700,929900,958500,972500,649200
Wisconsin,Maribel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,391800,386900,388900,393800,390400,389200,387900,383500,387800,268400
Idaho,Middleton,318200.0,313000.0,305700.0,312500.0,318500.0,325100.0,333100.0,333700.0,342300.0,342500.0,...,433100,437100,438700,438500,443200,444600,453400,461700,471500,321500
Colorado,Bennett,398700.0,407500.0,419400.0,434000.0,444900.0,456300.0,462700.0,468600.0,476200.0,481900.0,...,454400,486200,514200,534100,553300,575000,587400,599300,622400,425200
New Hampshire,East Hampstead,485500.0,507300.0,521900.0,541500.0,572700.0,585200.0,597800.0,622200.0,636900.0,636700.0,...,748500,756300,767200,776200,784100,784800,806400,817600,833400,564900
Missouri,Garden City,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,316500,312900,314300,318100,288200,297900,310300,318800,335000,227200
Arkansas,Mountainburg,171500.0,193000.0,203500.0,207000.0,206000.0,191600.0,191300.0,196400.0,196000.0,198000.0,...,244800,255200,265400,267100,256700,251100,271300,295000,305700,206800
Wisconsin,Oostburg,321800.0,324300.0,337300.0,346500.0,357300.0,361300.0,361100.0,358900.0,359600.0,355700.0,...,388700,383800,382300,381200,382200,391000,396100,398300,402300,272700
California,Twin Peaks,292100.0,300500.0,304000.0,305100.0,312000.0,323000.0,329500.0,333400.0,339600.0,349800.0,...,450300,442600,438200,430500,456900,465800,477500,492500,503900,347000
New York,Upper Brookville,3692900.0,3692900.0,3713100.0,3784700.0,3885500.0,4020100.0,4211000.0,4445800.0,4608500.0,4686100.0,...,5341900,5247700,5188400,5249600,5368800,5331800,5503100,5713500,5832200,3937600
Hawaii,Volcano,296100.0,316100.0,344000.0,374300.0,354400.0,358200.0,369800.0,363500.0,369900.0,350700.0,...,619400,682900,699600,703900,697100,674900,697300,726200,746900,495700
South Carolina,Wedgefield,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,223100,210800,216200,227100,216200,211000,207100,206600,222800,161400
Michigan,Williamston,477500.0,483900.0,492900.0,498600.0,499300.0,505900.0,515000.0,525100.0,536000.0,538000.0,...,497100,506800,512600,523300,527600,538400,546900,544400,547200,366000
Arkansas,Decatur,190800.0,193200.0,197000.0,200200.0,201600.0,203100.0,199500.0,196200.0,193800.0,194700.0,...,269000,277700,284100,280500,284700,286300,291000,289500,289900,193700
Tennessee,Briceville,120000.0,125200.0,131000.0,134700.0,134400.0,135900.0,133900.0,131100.0,133400.0,130200.0,...,168700,162700,157800,148900,137700,143800,130800,122400,125400,81700
Indiana,Edgewood,275100.0,275600.0,278800.0,284700.0,296800.0,300200.0,302500.0,303000.0,306500.0,305300.0,...,276400,282200,284000,287600,283000,289900,299900,298300,299900,201900
Tennessee,Palmyra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,368300,380800,378700,366900,361400,359400,377400,383000,398600,275500
Maryland,Saint Inigoes,444200.0,442800.0,471700.0,490100.0,492700.0,504600.0,499500.0,496000.0,501900.0,506400.0,...,846700,865300,860900,854100,842300,833500,830500,838000,847900,562800
Indiana,Marysville,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,349800,345300,349500,335600,335400,347000,360500,384700,369700,248400
California,Forest Falls,340600.0,343200.0,342500.0,333400.0,340300.0,339000.0,339100.0,345500.0,356100.0,375200.0,...,496100,502500,531300,529600,545400,573500,596200,565900,569600,373300
Missouri,Bois D Arc,323400.0,320900.0,321300.0,324300.0,332100.0,341000.0,337900.0,338200.0,339200.0,346200.0,...,412700,412700,421200,435100,442700,438900,448300,440600,431300,288000
Virginia,Henrico,385700.0,392300.0,396800.0,399800.0,405700.0,410200.0,415800.0,424000.0,430600.0,438400.0,...,604900,612000,617700,619700,631300,636300,641900,648100,648600,440300
New Jersey,Diamond Beach,521900.0,549300.0,566900.0,579400.0,583200.0,630800.0,690800.0,746000.0,779800.0,796900.0,...,1145400,1163600,1163000,1179500,1194000,1197700,1201300,1213600,1211700,798000
Tennessee,Gruetli Laager,106200.0,106400.0,110000.0,111900.0,113200.0,113700.0,118100.0,121200.0,124700.0,124900.0,...,166700,169100,171400,176700,196100,208500,215100,226000,229400,155000
Wisconsin,Town of Wrightstown,305300.0,316200.0,334100.0,344600.0,377900.0,389700.0,389700.0,388300.0,395700.0,402600.0,...,434600,440600,447700,446000,448000,449600,449800,449500,453800,310000
New York,Urbana,237600.0,245000.0,275100.0,295100.0,284600.0,295600.0,308900.0,294100.0,281900.0,283800.0,...,396400,411100,420200,425100,413600,409400,408500,416900,432600,286000
Wisconsin,New Denmark,343700.0,357800.0,378200.0,395900.0,431400.0,440900.0,445100.0,447500.0,459400.0,470200.0,...,523700,543500,558500,562800,566000,565300,566800,573200,578500,395200
California,Angels,453000.0,467700.0,474300.0,502400.0,530500.0,551300.0,570700.0,553700.0,552100.0,558400.0,...,733400,762200,779800,780300,751900,790500,838500,829600,814800,539900
Wisconsin,Holland,453100.0,451500.0,459700.0,467500.0,485600.0,497200.0,504100.0,502200.0,497300.0,485900.0,...,603800,604700,603800,618000,622800,638600,653500,665900,684100,469900

In [38]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    import pandas as pd
    import numpy as np
    from scipy.stats import ttest_ind
    start = get_recession_start()
    end = get_recession_end()
    bottom = get_recession_bottom()
    univ = get_list_of_university_towns()
    housing = convert_housing_data_to_quarters()
    housing['ratio'] = (housing[bottom] - housing[start])/housing[bottom]
    housing = housing[[bottom,start,'ratio']].reset_index()
    ut = pd.DataFrame(univ.merge(housing, how='inner', right_on = ['State','RegionName'], left_on = ['State', 'RegionName']))
    nut = pd.DataFrame(univ.merge(housing, how ='outer', right_on=['State','RegionName'], left_on = ['State', 'RegionName']))
    nut['CT'] = nut['RegionName'].apply(lambda x: x in set(univ['RegionName']))
    nut = nut[nut['CT'] == False]
    p_val = ttest_ind(ut['ratio'].dropna(), nut['ratio'].dropna())
    if p_val.pvalue <  0.05:
        different = True
    else:
        different = False
    if ut['ratio'].dropna().mean() > nut['ratio'].dropna().mean():
        better = 'university town'
    else:
        better = 'non university town'
    ans = (different, p_val.pvalue, better)
    return ans
run_ttest()

(True, 0.033097881884895035, 'university town')